mat-card {
    background-color: #ffffff;
}

.tab-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: 10px;
}

@media (max-width: 800px) {
    .tab-content {
        grid-template-columns: 1fr;
    }
}
