mat-card {
    background-color: #ffffff;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    gap: 16px;
    margin: 10px 0;
}

.selected-time {
    background-color: #e8f5e9;
    border: 2px solid #4caf50;
}

@media (max-width: 767px) {
    .content-wrapper {
        grid-template-columns: 1fr;
    }
}