<div style="display: flex; flex-direction: column;">
    <mat-card class="filters-row">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>¿Qué deporte buscas?</mat-label>
            <mat-icon matPrefix>sports_tennis</mat-icon>
            <mat-select [(ngModel)]="sportIdSelected">
                @for (sport of sports; track sport.id) {
                    <mat-option [value]="sport.id">{{ sport.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button matButton="filled" [disabled]="loading">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </mat-card>
    @if (dataLoaded === 1) {
        <div class="courts-grid">
            @for (court of courts; track court.id) {
                <mat-card>
                    <img mat-card-image src="https://images.unsplash.com/photo-1595435934249-5df7ed86e1c0?q=80&w=500" alt="Cancha" style="height: 180px; object-fit: cover;">
                    <mat-card-content>
                        <div style="display: flex; flex-direction: column; gap: 8px; margin-top: 8px;">
                            <div style="display: flex; flex-direction: column; gap: 4px;">
                                <h3 style="margin: 0;">{{ court.sport.name }} - {{ court.description }}</h3>
                                <div style="display: flex; justify-content: space-between;">
                                    <small style="display: flex; align-items: center; gap: 4px;">
                                        <mat-icon style="font-size: 14px; width: 14px; height: 14px;">location_on</mat-icon>
                                        {{ court.branch.address }}
                                    </small>
                                    <small style="display: flex; align-items: center; gap: 4px;">
                                        <mat-icon style="font-size: 14px; width: 14px; height: 14px;">groups</mat-icon>
                                        Capacidad: {{ court.capacity }} personas
                                    </small>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <div style="display: flex; flex-direction: column;">
                                    <span style="font-size: 18px; font-weight: bold; color: #2fc332;">$ {{ court.price }}</span>
                                    <small>por hora</small>
                                </div>
                                <button matButton="filled" [routerLink]="['../schedule', 1]">
                                    Ver horarios
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            }
        </div>
    } @else if (dataLoaded === 0) {
        <div style="display: flex; justify-content: center; margin: 20px 0">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    } @else {
        <div style="display: flex; flex-direction: column; align-items: center; margin: 20px 0">
            <mat-icon>travel_explore</mat-icon>
            <span>No encontramos canchas con esos filtros. ¡Prueba otros!</span>
        </div>
    }
</div>