mat-card {
    background-color: #ffffff;
}

.filters-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.courts-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10px;
}

@media (max-width: 767px) {
    .filters-row {
        flex-direction: column;
        align-items: normal;
    }

    .courts-grid {
        grid-template-columns: 1fr;
    }
}